@charset "UTF-8";

@import "fonts";
@import "variables";
@import "jquery_mobile";
@import "ecg";
@import "general";

.app-logo {
  height: 40px;
}

.text-container {
  padding: 0px 10px;
}

.text-container h2 {
  font-size: 1.3em;
}

.text-container h2,
.text-container h3 {
  font-weight: normal;
  color: $gwoe-olive-dark-color;
}

.left-button {
  left: 0.4em;
}

.matrix-list .ui-collapsible-heading {
  background-color: $white !important;
}

.matrix-list .ui-collapsible-heading a{
  color: $gwoe-olive-dark-color !important;
}

.dheader-style {
  color: blue;
}

.basic-level {
  color: $basic-level-color;
}

.subindicator-table {
  padding-bottom: 0.8em;
  border-bottom: 2px solid $grey;
}

.subindicator-header {
  @extend .ecg-header-background;
  display: block;
  margin-top: 1em;
  padding: 1em .5em;
  font-size: 1.2em;
  line-height: 110%;
  background-color: #fff;
  color: $gwoe-turquoise-color;
  border-top: 1px solid rgba(0, 0, 0, .15);
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.subindicator-title {
  font-weight: bold;
}

.subindicator-track-description {
  padding: 5px 5px 15px 5px;
}

.subindicator-relevance {
  color: $grey-darkest;
  font-size: 0.7em;
  float: right;
}

.subindicator-track-level {
  padding: .5em .5em;
  text-align: center;
}

#nav-panel ul {
    // position: relative;
}
