
/* ECG Colors */
$gwoe-turquoise-color: #99CCCC;
$gwoe-olive-color: #CCCB98;
$gwoe-green2: #94BE4E;

$negative-color: #DE6B3C;
$negative-content-color: #7B7C7F;
$basic-level-color: #E8B809;
$advanced-level-color: #FFF101;
$experienced-level-color: #A3CF9A;
$model-level-color: #40AE49;
