/* COLORS */
$white: #FFFFFF;
$grey: #CCCCCC;
$grey-middle: #555555;
$grey-border: #D8D8D8;
$grey-light: #FEFEFE;
$grey-light-darker: #F8F8F8;
$grey-light-border: #E5E5E5;
$grey-dark: #5C5C5C;
$grey-darkest: #414141;
$violet-color: #C54D94;

@import "ecg_colors";
