<!-- page: About -->
<div data-role="page" id="about">

    include "_header_page.html"

    <div data-role="content" data-theme="a" class="text-container">
        <h1>Über diese App</h1>
        <p>Version: 0.0.1</p>
        <p>Open Source in <a href="https://github.com/sinnwerkstatt/economy-common-good-mobile">GitHub</a></p>
        <p>Entwickelt von: <a href="https://www.sinnwerkstatt.com/">Sinnwerkstatt</a>, die ganzheitliche Agentur für sozial-ökologischen Wandel.</p>
    </div>

    include "_footer_page.html"
</div>
<!-- /page: About -->
