<!-- page: ECG Vision -->
<div data-role="page" id="ecg-vision">

    include "_header_page.html"

    <div data-role="content" data-theme="a" class="text-container">
        <h1>Vision der GWÖ</h1>

        <h3>
            Gemeinwohl-Ökonomie bezeichnet ein alternatives Wirtschaftssystem, das auf Gemeinwohl-fördernden Werten
            aufgebaut ist. Gemeinwohl-Ökonomie ist ein Veränderungshebel auf wirtschaftlicher, politischer und
            gesellschaftlicher Ebene &ndash; eine Brücke von Altem zu Neuem.</h3>

        <p><strong>Auf wirtschaftlicher Ebene</strong> ist sie eine lebbare, konkret umsetzbare Alternative für
            Unternehmen verschiedener Größen und Rechtsformen. Der Zweck des Wirtschaftens und die Bewertung von
            Unternehmenserfolg werden anhand Gemeinwohl-orientierter Werte definiert.</p>

        <p><strong>Auf politischer Ebene</strong> will die Bewegung für eine Gemeinwohl-Ökonomie rechtliche Veränderung
            bewirken. Ziel des Engagements ist ein gutes Leben für alle Lebewesen und den Planeten, unterstützt durch
            ein Gemeinwohl-orientiertes Wirtschaftssystem. Menschenwürde, globale Fairness und Solidarität, ökologische
            Nachhaltigkeit, soziale Gerechtigkeit und demokratische Mitbestimmung sind dabei wesentliche Elemente.</p>

        <p><strong>Auf gesellschaftlicher Ebene </strong>ist die Bewegung für eine Gemeinwohl-Ökonomie eine Initiative
            der Bewusstseinsbildung für Systemwandel, die auf dem gemeinsamen, wertschätzenden Tun möglichst vieler
            Menschen beruht. Die Bewegung gibt Hoffnung und Mut und sucht die Vernetzung und Befruchtung mit anderen
            alternativen Initiativen.</p>

        <h3>
            Sie versteht sich als ergebnisoffener, partizipativer, lokal wachsender <a
                href="http://gemeinwohl-oekonomie.org/de/node/26">Prozess</a>
            mit globaler Ausstrahlung.</h3>

    </div>

    include "_footer_page.html"

</div>
<!-- /page: ECG Vision -->
