<!-- page: ECG History -->
<div data-role="page" id="ecg-history">

    include "_header_page.html"

    <div data-role="content" data-theme="a" class="text-container">
        <h1>Geschichte der GWÖ</h1>

        <h2>EINE KLEINE GESCHICHTE DER GEMEINWOHL-ÖKONOMIE<br>
            EIN BOTTOM-UP-PROZESS ZUM MITMACHEN!</h2>

        <h3>BISHERIGER PROZESS</h3>

        <h3>
            <a name="300vChr" id="300vChr">300 V. CHR.: GRIECHISCHE PHILOSOPHIE</a></h3>

        <p>Platon schreibt in der „Politeia“: „Das Gemeinwohl stellt dabei die Funktion und das Ziel der politischen
            Gemeinschaft dar, in ihm verwirklichen sich die Bedürfnisse, die Interessen und das Glück aller Bürger durch
            ein tugendhaftes und gerechtes Leben.“</p>

        <h3>
            <a name="100vChr" id="100vChr">106-43 V. CHR. CICERO</a></h3>

        <p>„Das Wohl des Volkes soll oberstes Gesetz sein.“ (De legibus III, 3, 8)</p>

        <h3>
            <a name="1300" id="1300">13. JHDT.: CHRISTLICHE SOZIALETHIK</a></h3>

        <p>Thomas v. Aquin prägt das Wort „bonum commune“: Gemeinwohl. Seither spielt es auch in der christlichen
            Soziallehre eine zentrale Rolle.</p>

        <h3>
            <a name="1712" id="1712">1712 &ndash; 1778: JEAN-JACQUES ROUSSEAU</a></h3>

        <p>Rousseau führte in seinem Hauptwerk „Vom Gesellschaftsvertrag oder Prinzipien des Staatsrechtes“ aus, dass
            die alleinige Grundlage legitimer politischer Macht nur der Gemeinwille sein kann, der immer das Gemeinwohl
            anstrebt.</p>

        <h3>
            <a name="1946" id="1946">1946: BAYRISCHE VERFASSUNG</a></h3>

        <p>Die Verfassung Bayerns gibt in Art. 151 als Ziel vor: „Alle wirtschaftliche Tätigkeit dient dem
            Gemeinwohl.“</p>

        <h3>
            <a name="2001" id="2001">2001: „GEMEINWOHL-ÖKONOMIE“</a></h3>

        <p><a target="_blank" href="http://www.joachimsikora.de">Joachim Sikora</a> aus Bonn, entwirft gemeinsam mit
            Günter Hoffmann „Visionen einer Gemeinwohl-Ökonomie“ auf Basis von Regiogeld, Schwundgebühr,
            leistungsorientiertem Grundeinkommen und Bodenreform. Hier geht es zur Website von Joachim Sikora.</p>

        <h3>
            <a name="2006" id="2006">2006: „50 VORSCHLÄGE FÜR EINE GERECHTERE WELT“</a></h3>

        <p>In einem Standardwerk der globalisierungskritischen Literatur (<a target="_blank"
                                                                             href="http://www.christian-felber.at/buecher/50_Vorschlaege.php">8.
            Auflage</a>) unterbreitete Christian Felber konkrete Maßnahmen, wie die globale Wirtschaft humaner,
            ökologischer, demokratischer gestaltet werden könnte. Inhaltlich gab es wenig Widerspruch, doch auf der
            Werte-Ebene wurde gefragt, ob die Vorschläge nicht gegen „Effizienz“, „Wachstum“, „Gewinn“, „Erfolg“,
            „Wettbewerbsfähigkeit“ und „Freiheit“ gerichtet seien.</p>

        <h3>
            <a name="2008-1" id="2008-1">2008: „NEUE WERTE FÜR DIE WIRTSCHAFT“</a></h3>

        <p>Die Antwort auf diese Fragen war ein neues Buch, in dem die „Schlagwerte“ des Marktes durchleuchtet und
            zerlegt („dekonstruiert“) werden. Nach dem Abschälen des ideologischen Ballastes lag bei der Zusammenschau
            der Bedeutungskerne die Grobskizze einer neuen Wirtschaftsordnung vor, die im Schlusskapitel des <a
                    target="_blank" href="http://www.christian-felber.at/buecher/neue_werte.php">Buches</a> publiziert
            wurde.</p>

        <h3>
            <a name="2008-2" id="2008-2">2008: ATTAC-UNTERNEHMERINNEN-GRUPPE</a></h3>

        <p>Auf das Buch „Neue Werte für die Wirtschaft“ meldete sich rund ein Dutzend UnternehmerInnen, die sich von der
            Alternative angezogen fühlten und anboten, a) die Grobskizze zu verfeinern und b) sich gemeinsam für die
            Umsetzung einzusetzen. Fast zwei Jahre brütete die Gruppe über dem Modell, bis im August 2010 die
            „Gemeinwohl-Ökonomie“ „zur Welt kam“.</p>

        <h3>
            <a name="2010-05" id="2010-05">MAI 2010-HEUTE: GRÜNDUNG ENERGIEFELDER</a></h3>

        <p>In Wien wird im Mai 2010 das erste Energiefeld gegründet. Im Verlauf der nächsten Monate entstehen in
            Österreich, Deutschland, Italien und später in der Schweiz viele weitere Energiefelder, wo sich GWÖ-
            Interessierte lokal zusammen finden, um gemeinsam die Idee der Gemeinwohl-Ökonomie zu vertiefen, zu
            verbreiten und weiter zu entwickeln.</p>

        <h3>
            <a name="2010-08" id="2010-08">AUGUST 2010: BUCH</a></h3>

        <p>Das <a target="_blank" href="http://www.christian-felber.at/buecher/gemeinwohl.php">Buch</a> erscheint beim
            Wiener Verlag Deuticke. 70 Unternehmen traten als Erstunterzeichner im Anhang des Buches auf. Ursprüngliches
            Ziel war es, 30 bis 50 Erstunterzeichnende zu finden.</p>

        <h3>
            <a name="2010-10-06" id="2010-10-06">6. OKTOBER 2010: SYMPOSIUM</a></h3>

        <p>Die Attac-UnternehmerInnen gehen erstmals an die Öffentlichkeit und organisieren das Symposium „Unternehmen
            neu denken“. Wir wollten in einer ersten „Kreiserweiterung“ testen, wie aufgeschlossene und vorausdenkende
            Unternehmen auf die Idee der Gemeinwohl-Ökonomie ansprechen. Anstatt der 50 erhofften Gäste kamen 100. Zu
            einer Pioniergruppe meldeten sich über 20 Unternehmen. Der „Gesamtprozess GemeinwohlÖkonomie“ begann.</p>

        <h3>
            <a name="2010-12-31" id="2010-12-31">31. DEZEMBER 2010</a></h3>

        <p>Die Zahl der mitmachenden Unternehmen wuchs rasch an: 150 Unternehmen trugen sich als Unterstützende bis
            Jahresende 2010 ein; die Zahl der PionierInnen stieg auf 50. In zahlreichen Regionen entstanden erste
            „Energiefelder“ von engagierten Personen, die sich für die Umsetzung der Gemeinwohl-Ökonomie einsetzen.</p>

        <h3>
            <a name="2011-01-21" id="2011-01-21">21. JANUAR 2011: MATRIX 2.0</a></h3>

        <p>Die Pionier-Unternehmen wurden um ihr erstes Feedback auf die Matrix 1.0, die im Buch publizierte Version,
            gefragt. Ein Redaktionsteam sammelte die Rückmeldungen und erstellte bis Ende Januar die Version 2.0. Ein
            Fahrplan zeichnete sich ab: Version 3.0 soll zu Sommerbeginn fertig sein und die für 2011 zu erstellende
            Bilanz sein. Danach Feedback und Erstellung der Bilanz 4.0 für das „Bilanzjahr II“: 2012.</p>

        <h3>
            <a name="2011-02-09" id="2011-02-09">9. FEBRUAR 2011: VEREIN</a></h3>

        <p>Bei einem Treffen von Attac-UnternehmerInnen und neu Hinzugekommenen wurde die weitere Strategie beraten und
            beschlossen: die Gemeinwohl-Ökonomie wird „selbständig“. Ein Förderverein soll die vielfältigen „Stränge“ im
            „Gesamtprozess Gemeinwohl-Ökonomie“ koordinieren: UnterstützerInnen, PionierInnen, BeraterInnen,
            AuditorInnen, Redaktionsteam, Energiefelder, Verein. Hier ist ein Foto von diesem Treffen.</p>

        <h3>
            <a name="2011-02-18" id="2011-02-18">18. FEBRUAR 2011: PIONIERINNEN</a></h3>

        <p>Kurze Zeit später treffen sich die PionierInnen und tauschen erste Erfahrungen aus. Gemeinsam erstellen sie
            einen Fahrplan bis zur Gemeinwohl-Bilanz-Pressekonferenz im Oktober.</p>

        <h3>
            <a name="2011-02" id="2011-02">FEBRUAR 2011: BERATERINNEN</a></h3>

        <p>Aus dem Kreis der Attac-UnternehmerInnen bildet sich die Plattform der <a target="_blank"
                                                                                     href="http://www.gemeinwohl-oekonomie.org/de/content/kreis-der-beraterinnen">GemeinwohlÖkonomie-BeraterInnen</a>.
            Sie wollen die Pionier-Unternehmen im gesamten Prozess begleiten, einen zertifizierten Beruf kreieren sowie
            eine Gemeinwohl-Akademie aufbauen.</p>

        <h3>
            <a name="2011-03-24" id="2011-03-24">24. MÄRZ 2011: BILANZ IST FERTIG</a></h3>

        <p>Eine erste Rechentabelle für die Bilanz wird angefertigt, die seither laufend upgedatet wird und in der
            jeweils aktuellsten Form auf der Web-Unterseite der PionierInnen <a target="_blank"
                                                                                href="http://www.gemeinwohl-oekonomie.org/de/content/downloads">downloadbar</a>
            ist.</p>

        <h3>
            <a name="2011-04-06" id="2011-04-06">6. APRIL 2011: ÉCONOMIE CITOYENNE</a></h3>

        <p>Beim Pariser Verlag „Actes Sud“, der auch Joseph Stiglitz und Naomi Klein nach Frankreich brachte, erscheint
            die französische Ausgabe der Gemeinwohl-Ökonomie: <a target="_blank"
                                                                 href="http://www.actes-sud.fr/catalogue/societe/leconomie-citoyenne">„L'Économie
                citoyenne“</a>. Das Buch wird in der Folge auch auf Spanisch und Italienisch publiziert. Die Übersetzung
            ins Englische ist geplant.</p>

        <h3>
            <a name="2011-04-19" id="2011-04-19">19. APRIL 2011: DIE ERSTEN 10.000</a></h3>

        <p>Der Verlag Deuticke meldet: 10.000 Exemplare sind verkauft. Die Gemeinwohl-Ökonomie ist in der 5. Auflage.
            Eine vollständige Neufassung für das Frühjahr 2012 wird geplant.</p>

        <h3>
            <a name="2011-04-27" id="2011-04-27">27. APRIL 2011: ORGANISATIONSKOORDINATORIN</a></h3>

        <p>Dank der großzügigen Beiträge von 15 Unternehmen konnte eine Organisationskoordinatorin hauptamtlich
            angestellt werden, die viel Energie, Klarheit, Ordnung und Unterstützung in den Gesamtprozess bringt.</p>

        <h3>
            <a name="2011-05" id="2011-05">MAI 2011: VORARLBERG &ndash; SALZBURG - NRW</a></h3>

        <p>Anfang Mai tourt Christian Felber durch die Lande. In Vorarlberg zeigen zahlreiche Unternehmen im Rahmen der
            „Tage der Utopie“ Interesse am Einstieg in den Prozess der Gemeinwohl-Ökonomie, einige Personen nehmen die
            Koordination in die Hand. In Salzburg findet ein erstes UnternehmerInnen-Treffen im Hotel Auersperg statt;
            auch hier werden weitere Treffen vereinbart. Ebenso in Köln, wo sich ad hoc ein Startkreis von Unternehmen
            bildet und trifft.</p>

        <h3>
            <a name="2011-05-18" id="2011-05-18">18. MAI 2011: ERSTE BILANZEN</a></h3>

        <p>In einem weiteren PionierInnen-Treffen bringen die mittlerweile auf 70 angewachsenen PionierInnen ihre ersten
            Bilanzen mit. Tenor: 50 Gemeinwohl-Kriterien sind für das erste Jahr zu viele: Wir wollen lieber reduzieren
            und langsamer starten von Jahr zu Jahr ein Schäuflein zulegen.</p>

        <h3>
            <a name="2011-06-30" id="2011-06-30">30. JUNI 2011: BILANZ 3.0</a></h3>

        <p>Als Folge dieser Rückmeldungen reduziert das Redaktionsteam in mehrwöchiger engagierter Tätigkeit die Bilanz
            auf 18 Kriterien. Zu jedem Kriterium gibt es ein einseitiges Factsheet und einen längeren Eintrag im
            Handbuch. Die Bilanz 3.0 gilt für das erste Bilanz-Jahr 2011. Factsheets und Handbuch werden laufend
            aktualisiert.</p>

        <h3>
            <a name="2011-07-13" id="2011-07-13">13.-17. JULI 2011: ATTACADEMIE</a></h3>

        <p>Auf der Sommerakademie von Attac Österreich veranstaltet die Gemeinwohl-Ökonomie ein 3-teiliges Seminar:
            Grundsatzfragen (Werte, Prinzipien), Anwendungsfragen (Bilanz), Strategiefragen (Prozess, Demokratie).</p>

        <h3>
            <a name="2011-09-14" id="2011-09-14">14. SEPTEMBER 2011: KONTROLLE MUSS SEIN</a></h3>

        <p>Vor der Veröffentlichung der ersten Bilanzen werden diese extern geprüft. Im Bilanzjahr I „nur“ von anderen
            Pionier-Unternehmen als auch von BeraterInnen (insbesondere Unternehmen mit Ergebnissen über 600 Punkten).
            Später werden die Gemeinwohl-AuditorInnen diese Aufgabe übernehmen.</p>

        <h3>
            <a name="2011-10-06" id="2011-10-06">6. OKTOBER 2011: BILANZ-PRESSEKONFERENZ</a></h3>

        <p>Am 1. Geburtstag des Gesamtprozesses Gemeinwohl-Ökonomie werden im Rahmen der „1. Internationalen
            Gemeinwohl-Bilanz-Pressekonferenz“ 55 Unternehmen in sieben dezentralen Pressekonferenzen ihre ersten
            Bilanzen vor. Die Bewegung zeigt sich erstmals an der Öffentlichkeit. Die Medienresonanz reichte bis zum
            SPIEGEL und zur Repubblica.</p>

        <h3>
            <a name="2011-12-31" id="2011-12-31">31. DEZEMBER 2011: BILANZ 4.0</a></h3>

        <p>Die Pressekonferenz führt zu einem 2. Erweiterungskreis und löst eine neue Feedback-Welle aus. Diese wird vom
            Redaktionsteam „aufgefangen“ und in die Matrix/Bilanz eingearbeitet. Die Version 4.0 gilt dann für das
            Bilanzjahr II: 2012.</p>

        <h3>
            <a name="2012-02" id="2012-02">FEBRUAR 2012: SPANIEN</a></h3>

        <p>Zum ersten Mal reist ein Team nach Spanien, um das Modell der Gemeinwohl-Ökonomie in mehreren öffentlichen
            Veranstaltungen vorzustellen. Ein 13-minütiges Video von attactv, das bei der Attac- Sommerakademie 2011 in
            Freiburg aufgenommen wurde, hatte sich im Internet rasant verbreitet und zu mehreren Einladungen nach
            Spanien geführt. Ab jetzt geht es im 2-Monat-Rhythmus nach Iberien...</p>

        <h3>
            <a name="2012-07" id="2012-07">JULI 2012: DAS „KLEID“</a></h3>

        <p>Bei einer Klausur des erweiterten Koordinierungskreises in Wien webt sich die wachsende Bewegung ein neues
            „Kleid“, d.h. eine passende Struktur. Der Startschuss für die Internationalisierung ist gegeben.</p>

        <h3>
            <a name="2012-10-06" id="2012-10-06">6./7. OKTOBER 2012: GENERALVERSAMMLUNG</a></h3>

        <p>Auf der ersten ordentliche Generalversammlung des Vereins zur Förderung der Gemeinwohl-Ökonomie wird auch
            schon wieder seine Ablöse durch einen internationalen Verband beschlossen und der Koordinierungs- Kreis mit
            der Umsetzung der Vorbereitungen beauftragt. Der Grundstein für eine „Delegiertenversammlung“ wird gelegt,
            die das „Parlament“ der internationalen Bewegung werden soll.</p>

        <h3>
            <a name="2013-01" id="2013-01">JANUAR 2013: ITALIENISCHER VEREIN</a></h3>

        <p>Als erster „nationaler“ Verein nach dem österreichischen Mutterverein wird der <a target="_blank"
                                                                                             href="http://www.economia-del-bene-comune.it">italienische
            Verein</a> gegründet.</p>

        <h3>
            <a name="2013-03" id="2013-03">MÄRZ 2013: WACHSENDE BEWEGUNG</a></h3>

        <p>Drei Jahre nach der Gründung des ersten Energiefeldes sind über 80 Energiefelder gesprossen. Der erste
            Vortrag zur Gemeinwohl-Ökonomie in Amerika wird organisiert.</p>

        <h3>
            <a name="2013-03-07" id="2013-03-07">7./8. MÄRZ 2013: 1. DELEGIERTENVERSAMMLUNG</a></h3>

        <p>In Innsbruck treffen rund 45 Delegierte aus Spanien, Italien, der Schweiz, Deutschland und Österreich
            zusammen, um den Aufbau des internationalen Verbandes weiter voranzutreiben<br>
            und eine arbeitsfähige Struktur zu entwickeln.</p>

        <h3>
            <a name="2013-04" id="2013-04">APRIL 2013: GEMEINDEN AN BORD</a></h3>

        <p>Im Vintschgau in Südtirol entsteht die erste „Gemeinwohl-Region“. Vorerst ist es ein Zusammenschluss aus vier
            Gemeinen, die mit der Bilanz-Erstellung beginnen.</p>

        <h3>
            <a name="2013-04-24" id="2013-04-24">24. APRIL 2013: 2. PRESSEKONFERENZ</a></h3>

        <p>Die „2. Internationale Gemeinwohl-Bilanz-Pressekonferenz“ wird in mehreren Städten Österreichs, Italiens,
            Deutschlands und der Schweiz abgehalten.</p>

        <h3>
            <a name="2013-04-26" id="2013-04-26">26.-28. APRIL 2013: ZUKUNFTSKONFERENZ</a></h3>

        <p>Auf einer dreitägigen Zukunftskonferenz werden 120 Aktive der GWÖ-Bewegung gemeinsam Vision, Mission und die
            Strategie zur Förderung einer Gemeinwohl-Ökonomie<br>
            diskutieren und abstimmen.</p>

        <h3>
            <a name="2013-06-01" id="2013-06-01">31. MAI/1. JUNI 2013: 2. GENERALVERSAMMLUNG</a></h3>

        <p>Bei der 2. Generalversammlung des österreichischen Vereins wurde das neu gewählte Internationale
            Koordinierungsteam mit der Gründung des internationalen Verbandes betraut.</p>

        <h2>
            AUSSICHTEN</h2>

        <h3>
            <a name="2013-2015" id="2013-2015">2013 &ndash; 2015: KONSOLIDIERUNG DER FUNDAMENTE</a></h3>

        <p>Die Rückmeldungen zu den Kernelementen der GWÖ sind bereits sehr zahlreich. Oft kommt die Empfehlung, langsam
            zu gehen und auf die Qualität zu achten. Die nächsten drei Jahre<br>
            könnten dieser Empfehlung folgen: Matrix, Bilanz, Beratung, Audit und Energiefelder sollen stark verbessert
            und teilweise professionalisiert werden.</p>

        <h3>
            <a name="2018/2019" id="2018/2019">2018/19: IN RICHTUNG KONVENTE</a></h3>

        <p>Vielleicht gelingt ein Wirtschaftsverfassungsprozess bis zum 100. Jahrestag des In-Kraft-Tretens der
            deutschen/österreichischen Verfassungen.</p>

        <p>Stand: 12. September 2013</p>
    </div>

    include "_footer_page.html"

</div>
<!-- /page: ECG History -->
