<!-- page: ECG Contents -->
<div data-role="page" id="ecg-contents">

    include "_header_page.html"

    <div data-role="content" data-theme="a" class="text-container">
        <h1>Inhalte der GWÖ</h1>
        <h3>
            Die inhaltliche Grundlage für den Gesamtprozess Gemeinwohl-Ökonomie ist das gleichnamige <a
                href="http://gemeinwohl-oekonomie.org/de/node/70">Buch</a>. Hier ist es in 20 Punkten zusammengefasst:</h3>

        <p>Wichtig: Dabei handelt es sich nicht um "Positionen" oder "Forderungen" der GWÖ-Bewegung, sondern um
            Ideen und Inspirationen für einen breiten Nachdenk- und Diskussionsprozess. Die einzige Forderung der
            Bewegung ist, dass diese - und anderer - Schlüsselfragen und Kernelemente einer Wirtschaftsordnung
            demokratisch diskutiert und entschieden werden sollen, unabhängig davon, ob diese oder andere Inhalte
            das verbindliche Ergebnis sein werden. Insbesondere alle konkreten Zahlenangaben sind deshalb nur als
            exemplarisch zu verstehen.</p>

        <p> Wir laden alle gesellschaftlichen Initiativen ein, ihre Schlüsselfragen und Kernelemente einer
            demokratischen Wirtschaftsordnung in diesen Diskussionsprozess einzubringen.</p>

        <p> 1. Die Gemeinwohl-Ökonomie beruht auf denselben <strong>Grundwerten</strong>, die unsere Beziehungen
            gelingen lassen: Vertrauensbildung, Wertschätzung, Kooperation, Solidarität und Teilen. Nach aktuellen
            wissenschaftlichen Erkenntnissen sind gelingende Beziehungen das, was Menschen am glücklichsten macht
            und am stärksten motiviert.</p>

        <p>2. Der rechtliche <strong>Anreizrahmen</strong> für die Wirtschaft wird umgepolt von Gewinnstreben und
            Konkurrenz auf <strong>Gemeinwohlstreben</strong> und <strong>Kooperation</strong>. Unternehmen werden
            für gegenseitige Hilfe und Zusammenarbeit belohnt. Kon(tra)kurrenz ist möglich, bringt aber Nachteile.
        </p>

        <p style="text-align: left;">3. Wirtschaftlicher <strong>Erfolg</strong> wird nicht länger mit (monetären)
            Tauschwertindikatoren gemessen, sondern mit (nichtmonetären) Nutzwertindikatoren. Auf der Makroebene
            (Volkswirtschaft) wird das BIP als Erfolgsindikator vom <strong>Gemeinwohl-Produkt</strong> abgelöst,
            auf der Mikroebene (Unternehmen) die Finanz-Bilanz von der <strong>Gemeinwohl-Bilanz</strong>. Diese
            wird zur Hauptbilanz aller Unternehmen. Je sozialer, ökologischer, demokratischer und solidarischer
            Unternehmen agieren und sich organisieren, desto bessere Bilanzergebnisse erreichen sie. Je besser die
            Gemeinwohl-Bilanz-Ergebnisse der Unternehmen in einer Volkswirtschaft sind, desto größer ist das
            Gemeinwohl-Produkt.</p>

        <p style="text-align: left;">4. Die Unternehmen mit guten Gemeinwohl-Bilanzen erhalten <strong>rechtliche
            Vorteile</strong>: niedrigere Steuern, geringere Zölle, günstigere Kredite, Vorrang beim öffentlichen
            Einkauf und bei Forschungsprogrammen et cetera. Der Markteintritt wird dadurch für verantwortungsvolle
            AkteurInnen erleichtert. Ethische, ökologische und regionale Produkte sowie Dienstleistungen werden
            billiger als unethische, unökologische und globale.</p>

        <p style="text-align: left;">5. Die <strong>Finanzbilanz</strong> wird zur Mittelsbilanz.
            <strong>Finanzgewinn</strong>
            wird vom <strong>Zweck</strong> zum <strong>Mittel</strong> und dient dazu, den neuen Unternehmenszweck
            (Beitrag zum allgemeinen Wohl) zu erreichen. Bilanzielle Überschüsse dürfen verwendet werden für:
            Investitionen (mit sozialem und ökologischem Mehrwert), Rückzahlung von Krediten, Rücklagen in einem
            begrenzten Ausmaß, begrenzte Ausschüttungen an die MitarbeiterInnen sowie für zinsfreie Kredite an
            Mitunternehmen. Nicht verwendet werden dürfen Überschüsse für: Investitionen auf den Finanzmärkten
            (diese soll es gar nicht mehr geben), feindliche Aufkäufe anderer Unternehmen, Ausschüttung an Personen,
            die nicht im Unternehmen mitarbeiten, sowie Parteispenden. Im Gegenzug <strong>entfällt</strong> die
            <strong>Steuer auf Unternehmensgewinne</strong>.</p>

        <p style="text-align: left;">6. Da Gewinn nur noch Mittel, aber kein Ziel mehr ist, können Unternehmen ihre
            <strong>optimale Größe</strong> anstreben. Sie müssen nicht mehr Angst haben, gefressen zu werden und
            nicht mehr wachsen, um größer, stärker oder profitabler zu sein als andere. Alle Unternehmen sind
            <strong>vom allgemeinen Wachstums- und wechselseitigen Fresszwang erlöst</strong>.</p>

        <p style="text-align: left;">7. Durch die Möglichkeit, entspannt und angstfrei die optimale Größe
            einzunehmen, wird es viele kleine Unternehmen in allen Branchen geben. Da sie nicht mehr wachsen wollen,
            fällt ihnen die <strong>Kooperation und Solidarität mit anderen Unternehmen</strong> leichter. Sie
            können ihnen mit Wissen, Know-how, Aufträgen, Arbeitskräften oder zinsfreien Krediten helfen. Dafür
            werden sie mit einem guten Gemeinwohl-Bilanz-Ergebnis belohnt &ndash; nicht auf Kosten anderer
            Unternehmen, sondern zu deren Nutzen. Die Unternehmen bilden zunehmend eine solidarische
            Lerngemeinschaft, die Wirtschaft wird zu einer <strong>Win-win-Anordnung</strong>.</p>

        <p style="text-align: left;">8. Die <strong>Einkommens- und Vermögensungleichheiten</strong> werden in
            demokratischer Diskussion und Entscheidung <strong>begrenzt</strong>: die Maximal-Einkommen auf zum
            Beispiel das Zehnfache des gesetzlichen Mindestlohns; Privatvermögen auf zum Beispiel zehn Millionen
            Euro; das Schenkungs- und Erbrecht auf zum Beispiel 500 000 Euro pro Person; bei Familienunternehmen auf
            zum Beispiel zehn Millionen Euro pro Kind. Das darüber hinausgehende Erbvermögen wird über einen
            Generationenfonds als <strong>„Demokratische Mitgift“</strong> an alle Nachkommen der Folgegeneration
            verteilt: gleiches „Startkapital“ bedeutet höhere Chancengleichheit. Die genauen Grenzen sollen von
            einem Wirtschaftskonvent demokratisch ermittelt werden.</p>

        <p style="text-align: left;">9. Bei <strong>Großunternehmen</strong> gehen ab einer bestimmten Größe (zum
            Beispiel 250 Beschäftigte) Stimmrechte und Eigentum teil- und schrittweise an die Beschäftigten und die
            Allgemeinheit über. Die Öffentlichkeit könnte durch direkt gewählte <strong>„regionale
                Wirtschaftsparlamente“</strong> vertreten werden. Die Regierung soll keinen Zugriff/kein Stimmrecht
            in öffentlichen Unternehmen haben.</p>

        <p style="text-align: left;">10. Das gilt auch für die <strong>Demokratischen Allmenden</strong>, die dritte
            Eigentumskategorie neben einer Mehrheit (kleiner) Privatunternehmen und gemischt-besessenen
            Großunternehmen. Demokratische Allmenden (auch „Commons“) sind Gemeinwirtschaftsbetriebe im Bildungs-,
            Gesundheits-, Sozial-, Mobilitäts-, Energie- und Kommunikationsbereich: die „Daseinsvorsorge“.</p>

        <p style="text-align: left;">11. Eine wichtige Demokratische Allmende ist die <strong>Demokratische
            Bank</strong>. Sie dient wie alle Unternehmen dem Gemeinwohl und wird wie alle Demokratischen Allmenden
            vom demokratischen Souverän kontrolliert und nicht von der Regierung. Ihre Kernleistungen sind
            garantierte Sparvermögen, kostenlose Girokonten, kostengünstige Kredite und ökosoziale Risikokredite.
            Der <strong>Staat</strong> finanziert sich primär über zinsfreie <strong>Zentralbankkredite</strong>.
            Die Zentralbank erhält das <strong>Geldschöpfungsmonopol</strong> und wickelt den grenzüberschreitenden
            <strong>Kapitalverkehr</strong> ab, um Steuerflucht zu unterbinden. Die <strong>Finanzmärkte</strong> in
            der heutigen Form wird es nicht mehr geben.</p>

        <p style="text-align: left;">12. Nach dem Vorschlag von John Maynard Keynes wird eine <strong>globale
            Währungskooperation</strong> errichtet mit einer globalen Verrechnungseinheit („Globo“, „Terra“) für den
            internationalen Wirtschaftsaustausch. Auf lokaler Ebene können Regiogelder die Nationalwährung ergänzen.
            Um sich vor unfairem Handel zu schützen, initiiert die EU eine <strong>Fair-Handelszone</strong>
            („Gemeinwohl-Zone“), in der gleiche Standards gelten oder die Zollhöhe sich an der Gemeinwohl-Bilanz des
            Hersteller-Unternehmens orientiert. Langfristziel ist eine globale <strong>Gemeinwohl-Zone</strong> als
            <strong>UN-Abkommen</strong>.</p>

        <p style="text-align: left;">13. Der <strong>Natur</strong> wird ein <strong>Eigenwert</strong> zuerkannt,
            weshalb sie <strong>nicht</strong> zu <strong>Privateigentum</strong> werden kann. Wer ein Stück Land
            für den Zweck des Wohnens, der Produktion oder der Land- und Forstwirtschaft benötigt, kann eine
            begrenzte Fläche kostenlos nutzen. Die Überlassung ist an ökologische Auflagen und an die konkrete
            Nutzung geknüpft. Damit sind Landgrabbing, Großgrundbesitz und Immobilienspekulation zu Ende. Im
            Gegenzug <strong>entfällt</strong> die <strong>Grundvermögenssteuer</strong>.</p>

        <p style="text-align: left;">14. Wirtschaftswachstum ist kein Ziel mehr, hingegen die <strong>Reduktion des
            ökologischen Fußabdrucks</strong> von Personen, Unternehmen und Staaten auf ein <strong>global
            nachhaltiges Niveau</strong>. Der Kategorische Imperativ wird um die ökologische Dimension erweitert.
            Unsere Freiheit, einen beliebigen Lebensstil zu wählen, endet dort, wo sie die Freiheit anderer Menschen
            beschneidet, denselben Lebensstil zu wählen oder auch nur ein menschenwürdiges Leben zu führen.
            Privatpersonen und Unternehmen werden angereizt, ihren ökologischen Fußabdruck zu messen und auf ein
            global gerechtes und nachhaltiges Niveau zu reduzieren.</p>

        <p style="text-align: left;">15. Die <strong>Erwerbsarbeitszeit</strong> wird schrittweise auf das
            mehrheitlich gewünschte Maß von dreißig bis 33 Wochenstunden reduziert. Dadurch wird Zeit frei für drei
            andere zentrale Arbeitsbereiche: Beziehungs- und Betreuungsarbeit (Kinder, Kranke, SeniorInnen),
            Eigenarbeit (Persönlichkeitsentwicklung, Kunst, Garten, Muße) sowie politische und Gemeinwesenarbeit.
            Infolge dieser ausgewogeneren Zeiteinteilung würde der Lebensstil konsumärmer, suffizienter und
            ökologisch nachhaltiger.</p>

        <p style="text-align: left;">16. Jedes zehnte Berufsjahr ist ein <strong>Freijahr</strong> und wird durch
            ein bedingungsloses Grundeinkommen finanziert. Menschen können im Freijahr tun, was sie wollen. Diese
            Maßnahme entlastet den Arbeitsmarkt um zehn Prozent &ndash; die aktuelle Arbeitslosigkeit in der EU.</p>

        <p style="text-align: left;">17. Die repräsentative Demokratie wird ergänzt durch <strong>direkte</strong>
            und <strong>partizipative Demokratie</strong>. Der Souverän soll seine Vertretung korrigieren, selbst
            Gesetze beschließen, die Verfassung ändern und Grundversorgungsbereiche &ndash; Bahn, Post,
            Banken &ndash; kontrollieren können. In einer echten Demokratie sind die Interessen des Souveräns und
            seiner Vertretung identisch &ndash; Voraussetzung dafür sind umfassende Mitgestaltungs- und
            Kontrollrechte des Souveräns.</p>

        <p style="text-align: left;">18. Alle zwanzig Eckpunkte der Gemeinwohl-Ökonomie sollen in einem breiten
            Basisprozess durch intensive Diskussion ausreifen, bevor sie von einem direkt gewählten <strong>Wirtschaftskonvent</strong>
            in Gesetze gegossen werden. Über das Ergebnis stimmt der demokratische Souverän ab. Was angenommen wird,
            geht in die Verfassung ein und kann &ndash; jederzeit &ndash; nur wieder vom Souverän selbst geändert
            werden. Zur Vertiefung der Demokratie können weitere Konvente einberufen werden: <strong>Bildungs-,
                Medien-, Daseinsvorsorge-, Demokratiekonvent</strong> …</p>

        <p style="text-align: left;">19. Um die Werte der Gemeinwohl-Ökonomie von Kind an vertraut zu machen und zu
            praktizieren, muss auch das Bildungswesen gemeinwohlorientiert aufgebaut werden. Das verlangt eine
            andere Form von Schule sowie andere Inhalte, z. B. <strong>Gefühlskunde, Wertekunde,
                Kommunikationskunde, Demokratiekunde, Naturerfahrenskunde und Körpersensibilisierung</strong>.</p>

        <p style="text-align: left;">20. Da in der Gemeinwohl-Ökonomie unternehmerischer Erfolg eine ganz andere
            Bedeutung haben wird als heute, werden auch <strong>andere Führungsqualitäten</strong> gefragt sein:
            Nicht mehr die rücksichtslosesten, egoistischsten und „zahlenrationalsten“ Manager werden gesucht,
            sondern Menschen, die sozial verantwortlich und -kompetent handeln, mitfühlend und empathisch sind,
            Mitbestimmung als Chance und Gewinn sehen und nachhaltig langfristig denken. Sie werden die neuen
            Vorbilder sein.</p>

        <h3 style="text-align: left;">
            Die Gemeinwohl-Ökonomie ist weder das beste aller Wirtschaftsmodelle noch das Ende der Geschichte, nur
            <strong>ein nächster möglicher Schritt</strong> in die Zukunft. Sie ist ein
            <strong>partizipativer</strong> und <strong>entwicklungsoffener Prozess</strong>, und <strong>sucht
            Synergien</strong> mit ähnlichen Ansätzen. Durch das gemeinsame Engagement zahlreicher mutiger und
            entschlossener Menschen kann etwas grundlegend Neues geschaffen werden. Die Umsetzung erfordert
            intrinsische Motivation und Eigenverantwortung, rechtliche Anreize, einen ordnungspolitischen Rahmen
            sowie Bewusstseinsbildung. Alle Menschen, Unternehmen, Organisationen und Gemeinden können sich am Umbau
            der Wirtschaftsordnung in Richtung Gemeinwohl-Ökonomie beteiligen.</h3>
    </div>

    include "_footer_page.html"

</div>
<!-- /page: ECG Contents -->
