<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Gemeinwohl-Ökonomie App</title>

    <link rel="stylesheet" href="css/vendor/jquery.mobile-1.4.0.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/vendor/jquery-2.0.2.min.js"></script>
    <script type="text/javascript">
        $(document).on("mobileinit",function(){

            $.mobile.defaultPageTransition = 'none';
            $.mobile.defaultDialogTransition = 'none';
            $.mobile.transitionFallbacks='none';

            //Specific for iOS
            $.support.touchOverflow = true; //These two improve page transitions on iOS
            $.mobile.touchOverflowEnabled = true;
        });
    </script>
    <script src="js/vendor/jquery.mobile-1.4.0.min.js"></script>
    <script src="js/vendor/fastclick.js"></script>
</head>
<body>


<!-- Start of first page -->
<div data-role="page" id="foo">

    <div data-role="header" data-theme="a">
        <h1><img src="images/gwoe-logo.png" alt="Gemeinwohl-Ökonomie" class="app-logo"/></h1>
    </div>
    <!-- /header -->

    <div data-role="content" data-theme="a">
        <ul data-role="listview">
            <li data-role="list-divider">A) Lieferant​Innen</li>
            <li>
                <a href="#matrix-a1" data-transition="none">A1: Ethisches Beschaffungswesen</a>
            </li>
            <li data-role="list-divider">A) GeldgeberInnen</li>
            <li>
                <a href="#matrix-b1" data-transition="none">B1: Ethisches Finanzmanagement</a>
            </li>
            <li data-role="list-divider">C) Mitarbeiter​Innen inklusive Eigentümer​Innen</li>
            <li>
                <a href="#matrix-c1" data-transition="none">C1: Arbeitsplatzqualität und Gleichstellung</a>
            </li>
            <li>
                <a href="#matrix-c2" data-transition="none">C2: Gerechte Verteilung der Erwerbsarbeit</a>
            </li>
            <li>
                <a href="#matrix-c3" data-transition="none">C3: Forderung und Förderung ökologischen Verhaltens der MitarbeiterInnen</a>
            </li>
            <li>
                <a href="#matrix-c4" data-transition="none">C4: Gerechte Einkommensverteilung</a>
            </li>
            <li>
                <a href="#matrix-c5" data-transition="none">C5: Innerbetriebliche Transparenz und Demokratie</a>
            </li>
            <li data-role="list-divider">D) KundInnen / Produkte / Dienst​leistungen / Mit​unternehmen</li>
            <li>
                <a href="#matrix-d1" data-transition="none">D1: Ethische Kundenbeziehung</a>
            </li>
            <li>
                <a href="#matrix-d2" data-transition="none">D2: Solidarität mit Mitunternehmen</a>
            </li>
            <li>
                <a href="#matrix-d3" data-transition="none">D3: Ökologische Gestaltung der Produkte und Dienstleistungen</a>
            </li>
            <li>
                <a href="#matrix-d4" data-transition="none">D4: Soziale Gestaltung der Produkte und Dienstleistungen</a>
            </li>
            <li>
                <a href="#matrix-d5" data-transition="none">D5: Erhöhung der sozialen und ökologischen Branchenstandards</a>
            </li>
            <li data-role="list-divider">E) Gesell​schaftliches Umfeld</li>
            <li>
                <a href="#matrix-e1" data-transition="none">E1: Sinn und Gesellschaftliche Wirkung der Produkte / Dienstleistungen</a>
            </li>
            <li>
                <a href="#matrix-e2" data-transition="none">E2: Beitrag zum Gemeinwesen</a>
            </li>
            <li>
                <a href="#matrix-e3" data-transition="none">E3: Reduktion ökologischer Auswirkungen</a>
            </li>
            <li>
                <a href="#matrix-e4" data-transition="none">E4: Gemeinwohlorientierte Gewinn-Verteilung</a>
            </li>
            <li>
                <a href="#matrix-e5" data-transition="none">E5: Gesellschaftliche Transparenz und Mitbestimmung</a>
            </li>
        </ul>
    </div>
    <!-- /content -->

</div>
<!-- /page -->

include "indicatorPagesTemplate-output.html"

<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
