{#data.indicators}

<!-- page: Matrix {shortcode} -->
<div data-role="page" id="matrix-{shortcodeSlug}">

    <div data-role="header" data-theme="a">
        <a href="#" data-rel="back" data-icon="back">Zurück</a>
        <h1><img src="images/gwoe-logo.png" alt="Gemeinwohl-Ökonomie" class="app-logo"/></h1>
    </div>
    <!-- /header -->

    <div data-role="content" data-theme="a" class="nopadding">
        <h1 class="indicator-title">{shortcode}: {name}</h1>
        <div class="indicator-points">{points}</div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" class="clearboth">
            <h4>{structure.goals}</h4>
            <ul data-role="listview" data-inset="false">
                {goals.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.impulsQuestions}</h4>
            <ul data-role="listview" data-inset="false">
                {impulsQuestions.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.table}</h4>
            <ul data-role="listview" data-inset="false">
                <div id="matrix-c1-table-content" class="tabcontent">
                    <div class="subindicator-table">
                        {#table.subindicators}
                        <div class="subindicator-container">
                            <div class="subindicator-header clearfix">
                                <div class="subindicator-title">{title|s}</div>
                                <div class="subindicator-relevance">({structure.relevance}: {#structure.relevances}{@if cond="'{relevance}' === '{id}'"}{translation}{/if}{/structure.relevances})</div>
                            </div>
                            {#developmentTracks}
                            <div class="subindicator-tracks">
                                {#developmentDetails}
                                <div class="subindicator-track-container">
                                    <div class='subindicator-track-level gwoe-level-{#levels}{@if cond="{levels.length} == {$idx} + 1"}{slug}{/if}{/levels}'>
                                        {!levels! }
                                            {! if cond= levels.length eq idx + 1, print slug !}
                                        {!levels!}
                                        {#levels}{#structure.levels}
                                            {@select key="{slug}"}
                                                {@eq value="{levelslug}"}
                                                    {title} ({min} - {max}%){~s}
                                                {/eq}
                                            {/select}
                                        {/structure.levels}{/levels}
                                    </div>
                                    <div class='subindicator-track-description gwoe-level-light-{#levels}{@if cond="{levels.length} == {$idx} + 1"}{slug}{/if}{/levels}'>
                                        {description|s}
                                    </div>
                                </div>
                                {/developmentDetails}
                            </div>
                            {/developmentTracks}
                        </div>
                        {/table.subindicators}
                    </div>

                    {details.content|s}
                </div>
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.definition}</h4>
            <ul data-role="listview" data-inset="false">
                {definition.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.implementationHelp}</h4>
            <ul data-role="listview" data-inset="false">
                {implementationHelp.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.moreinfo}</h4>
            <ul data-role="listview" data-inset="false">
                {moreinfo.content|s}
            </ul>
        </div>
    </div>
    <!-- /content -->

    <div data-role="footer" data-theme="a">
        <a href="#" data-rel="back" data-icon="back" class="left-button">Zurück</a>
    </div>
    <!-- /footer -->

</div>
<!-- /page: Matrix {shortcode} -->

{/data.indicators}
