{#data.indicators}
{@if cond="{$idx} > 2"}

<!-- page: Matrix {shortcode} aa -->
<div data-role="page" id="matrix-{shortcodeSlug}">

    <div data-role="header" data-theme="a">
        <a href="#" data-rel="back" data-icon="back">Back</a>
        <h1><img src="images/gwoe-logo.png" alt="Gemeinwohl-Ökonomie" class="app-logo"/></h1>
    </div>
    <!-- /header -->

    <div data-role="content" data-theme="a" class="nopadding">
        <h1>{shortcode}: {name}</h1>
        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.goals}</h4>
            <ul data-role="listview" data-inset="false">
                {goals.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.impulsQuestions}</h4>
            <ul data-role="listview" data-inset="false">
                {impulsQuestions.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.table}</h4>
            <ul data-role="listview" data-inset="false">
                {details.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.definition}</h4>
            <ul data-role="listview" data-inset="false">
                {definition.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.implementationHelp}</h4>
            <ul data-role="listview" data-inset="false">
                {implementationHelp.content|s}
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h4>{structure.moreinfo}</h4>
            <ul data-role="listview" data-inset="false">
                {moreinfo.content|s}
            </ul>
        </div>
    </div>
    <!-- /content -->

</div>
<!-- /page: Matrix {shortcode} -->

{/if}
{/data.indicators}
