<!-- page: Main -->
<div data-role="page" id="main">

    include "_header_main.html"

    <div data-role="content" data-theme="a" class="nopadding">
        <div class="text-container">
            <h1>Gemeinwohl-Ökonomie</h1>

            <p> Ein alternatives Wirtschaftssystem, das auf Gemeinwohl-fördernden Werten aufgebaut ist.</p>

            <p>Ein Veränderungshebel auf wirtschaftlicher, politischer und gesellschaftlicher Ebene – eine Brücke von
                Altem
                zu Neuem. </p>
        </div>

        <div data-role="collapsible" data-collapsed="false">
            <h4>Die Idee</h4>
            <ul data-role="listview">
                <li><a href="#ecg-contents">Inhalte der GWÖ</a></li>
                <li><a href="#ecg-vision">Vision der GWÖ</a></li>
                <li><a href="#ecg-history">Geschichte</a></li>
            </ul>
        </div>
        <div data-role="collapsible" data-collapsed="false">
            <h4>Bewegung</h4>
            <ul data-role="listview">
                <li><a href="#">Regionale Energiefelder</a></li>
                <li><a href="#">AkteurInnen-Kreise</a></li>
                <li><a href="#">Unternehmen/Vereine</a></li>
                <li><a href="#">Gemeinden/Regionen</a></li>
            </ul>
        </div>
        <div data-role="collapsible" data-collapsed="false">
            <h4>Gemeinwohl-Bilanz</h4>
            <ul data-role="listview">
                <li><a href="#matrix">GWÖ-Matrix</a></li>
            </ul>
        </div>
    </div>

    include "_footer_main.html"

</div>
<!-- /page: Main -->
