<!-- page: Matrix List -->
<div data-role="page" id="matrix">

    include "_header_page.html"

    <div data-role="content" data-theme="a" class="nopadding matrix-list">
        <h1>GWÖ-Matrix</h1>

        <div data-role="collapsible" data-collapsed="false">
            <h4>A) Lieferant​Innen</h4>
            <ul data-role="listview">
                <li><a href="#matrix-a1">A1: Ethisches Beschaffungswesen</a></li>
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed="false">
            <h4>B) GeldgeberInnen</h4>
            <ul data-role="listview">
                <li><a href="#matrix-b1">B1: Ethisches Finanzmanagement</a></li>
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed="false">
            <h4>C) Mitarbeiter​Innen inklusive Eigentümer​Innen</h4>
            <ul data-role="listview">
                <li><a href="#matrix-c1">C1: Arbeitsplatzqualität und Gleichstellung</a></li>
                <li><a href="#matrix-c2">C2: Gerechte Verteilung der Erwerbsarbeit</a></li>
                <li><a href="#matrix-c3">C3: Forderung und Förderung ökologischen Verhaltens der
                    MitarbeiterInnen</a></li>
                <li><a href="#matrix-c4">C4: Gerechte Einkommensverteilung</a></li>
                <li><a href="#matrix-c5">C5: Innerbetriebliche Transparenz und Demokratie</a></li>
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed="false">
            <h4>D) KundInnen / Produkte / Dienst​leistungen / Mit​unternehmen</h4>
            <ul data-role="listview">
                <li><a href="#matrix-d1">D1: Ethische Kundenbeziehung</a></li>
                <li><a href="#matrix-d2">D2: Solidarität mit Mitunternehmen</a></li>
                <li><a href="#matrix-d3">D3: Ökologische Gestaltung der Produkte und Dienstleistungen</a></li>
                <li><a href="#matrix-d4">D4: Soziale Gestaltung der Produkte und Dienstleistungen</a></li>
                <li><a href="#matrix-d5">D5: Erhöhung der sozialen und ökologischen Branchenstandards</a></li>
            </ul>
        </div>

        <div data-role="collapsible" data-collapsed="false">
            <h4>E) Gesell​schaftliches Umfeld</h4>
            <ul data-role="listview">
                <li><a href="#matrix-e1">E1: Sinn und Gesellschaftliche Wirkung der Produkte /
                    Dienstleistungen</a></li>
                <li><a href="#matrix-e2">E2: Beitrag zum Gemeinwesen</a></li>
                <li><a href="#matrix-e3">E3: Reduktion ökologischer Auswirkungen</a></li>
                <li><a href="#matrix-e4">E4: Gemeinwohlorientierte Gewinn-Verteilung</a></li>
                <li><a href="#matrix-e5">E5: Gesellschaftliche Transparenz und Mitbestimmung</a></li>
            </ul>
        </div>
    </div>
    <!-- /content -->

    include "_footer_page.html"

</div>
<!-- /page: Matrix List -->
